=============================================================================
 Licensed Materials - Property of <%= owner %>
 (C) Copyright <%= owner %> <%= years %>
=============================================================================
